Repository themesberg/flowbite-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, npx nx format:write --files, npx stylelint --fix

.lintstagedrc:

{
  "*.ts": ["nx affected:lint --fix --files"],
  "*": ["npx nx format:write --files"],
  "*.css": ["npx stylelint --fix"]
}

chore: update workflow and PR template
  .github/PULL_REQUEST_TEMPLATE/release_request_template.md
  .github/workflows/release.yml
Due: npx nx format:write --files

chore(flowbite-angular): 1.3.0 [skip ci]
  libs/flowbite-angular/CHANGELOG.md
  libs/flowbite-angular/package.json
Due: npx nx format:write --files

chore: add main branch in release configuration (dryRun only)
  libs/flowbite-angular/project.json
Due: npx nx format:write --files

ci: add GITHUB_TOKEN
  .github/workflows/release.yml
Due: npx nx format:write --files

ci: add git config
  .github/workflows/release.yml
Due: npx nx format:write --files

ci: auto publish
  .github/workflows/release.yml
Due: npx nx format:write --files

ci: npm token
  .github/workflows/release.yml
Due: npx nx format:write --files

chore: fix lock file
  pnpm-lock.yaml
Due: npx nx format:write --files

ci: fix deploy
  .github/workflows/release.yml
  libs/flowbite-angular/package.json
  nx.json
Due: npx nx format:write --files

chore: add tailwind command when publishing
  nx.json
Due: npx nx format:write --files

ci: update lib:build command
  package.json
Due: npx nx format:write --files

ci: release
  .github/workflows/release.yml
  nx.json
Due: npx nx format:write --files

chore: fix ci
  .github/workflows/release.yml
  nx.json
Due: npx nx format:write --files

chore: prepare 20.0.3 (#117)
  apps/docs/public/css/styles.css
  apps/storybook/styles.css
  libs/flowbite-angular/styles/flowbite-angular.css
  libs/flowbite-angular/styles/part/color.css
  libs/flowbite-angular/styles/part/font-size.css
  libs/flowbite-angular/styles/part/rounded.css
  libs/flowbite-angular/styles/part/shadow.css
  libs/flowbite-angular/styles/part/spacing.css
Due: npx nx format:write --files, npx stylelint --fix

docs: quickstart
  apps/docs/docs/getting-started/quickstart/index.md
Due: npx nx format:write --files

ci: release
  .github/workflows/release.yml
Due: npx nx format:write --files

chore: fix import css files with tailwind
  apps/docs/docs/getting-started/quickstart/index.md
  package.json
Due: npx nx format:write --files

docs(modal): add open programatically
  apps/docs/docs/components/modal/_open-programatically.component.html
  apps/docs/docs/components/modal/_open-programatically.component.ts
  apps/docs/docs/components/modal/index.md
  apps/docs/docs/components/modal/ng-doc.page.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs(modal): add positioned
  apps/docs/docs/components/modal/_position.component.html
  apps/docs/docs/components/modal/_position.component.ts
  apps/docs/docs/components/modal/index.md
  apps/docs/docs/components/modal/ng-doc.page.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs: update DarkMode & Quickstart
  apps/docs/docs/customize/dark-mode/index.md
  apps/docs/docs/getting-started/quickstart/index.md
  apps/docs/public/css/styles.css
  libs/flowbite-angular/styles/flowbite-angular.css
Due: npx nx format:write --files, npx stylelint --fix

docs: fix icons not loaded
  apps/docs/docs/components/alert/_dismissable.component.ts
  apps/docs/docs/components/badge/_dismiss.component.html
  apps/docs/docs/components/badge/_dismiss.component.ts
  apps/docs/docs/components/breadcrumb/_default.component.html
  libs/flowbite-angular/breadcrumb/src/breadcrumb-item/theme.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs: fix storybook style
  apps/storybook/styles.css
Due: npx nx format:write --files, npx stylelint --fix

fix: dependencies versions
  apps/docs/docs/getting-started/quickstart/index.md
  libs/flowbite-angular/package.json
  package.json
  pnpm-lock.yaml
Due: npx nx format:write --files

docs: fix storybook link & theme
  apps/docs/public/css/ng-doc/base.css
  apps/docs/public/css/ng-doc/dark.css
  apps/docs/public/css/styles.css
  apps/docs/src/app/app.component.html
  apps/docs/src/app/pages/landing/landing.component.html
Due: npx nx format:write --files, npx stylelint --fix

ci: rebase main after release
  .github/workflows/release.yml
Due: npx nx format:write --files

ci: rebase main after release (#129)
  .github/workflows/release.yml
Due: npx nx format:write --files

fix(tab): fix tab overflow always displayed
  libs/flowbite-angular/tab/src/tab-list/theme.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

fix(tab): fix tab overflow always displayed (#131)
  libs/flowbite-angular/tab/src/tab-list/theme.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

ci: no verify on merge
  .github/workflows/release.yml
Due: npx nx format:write --files

ci: no verify on merge (#135)
  .github/workflows/release.yml
Due: npx nx format:write --files

docs: coderabbit suggestion
  apps/docs/docs/components/accordion/ng-doc.page.ts
  apps/docs/docs/components/alert/ng-doc.page.ts
  apps/docs/docs/components/badge/ng-doc.page.ts
  apps/docs/docs/components/breadcrumb/ng-doc.page.ts
  apps/docs/docs/components/button/ng-doc.page.ts
  apps/docs/docs/components/card/ng-doc.page.ts
  apps/docs/docs/components/clipboard/ng-doc.page.ts
  apps/docs/docs/components/dropdown/ng-doc.page.ts
  apps/docs/docs/components/icon/ng-doc.page.ts
  apps/docs/docs/components/indicator/ng-doc.page.ts
  apps/docs/docs/components/input/ng-doc.page.ts
  apps/docs/docs/components/modal/ng-doc.page.ts
  apps/docs/docs/components/navbar/ng-doc.page.ts
  apps/docs/docs/components/pagination/ng-doc.page.ts
  apps/docs/docs/components/sidebar/ng-doc.page.ts
  apps/docs/docs/components/tab/ng-doc.page.ts
  apps/docs/docs/components/tooltip/ng-doc.page.ts
  apps/docs/docs/customize/use-custom-style/index.md
  apps/docs/docs/shared/theme-macro.md
Due: nx affected:lint --fix --files, npx nx format:write --files

docs: coderabbit suggestion
  apps/docs/docs/customize/dark-mode/index.md
  apps/docs/docs/customize/override-base-style/index.md
  apps/docs/docs/customize/override-base-style/ng-doc.page.ts
  apps/docs/docs/customize/use-custom-style/index.md
  apps/docs/docs/doc-theme.model.ts
  apps/docs/docs/shared/theme-macro.md
Due: nx affected:lint --fix --files, npx nx format:write --files

docs: coderabbit suggestion
  apps/docs/docs/customize/use-custom-style/index.md
Due: npx nx format:write --files

docs: update README
  libs/flowbite-angular/README.md
Due: npx nx format:write --files

feat(table): create table component
  .vscode/settings.json
  apps/docs/docs/components/table/_default.component.html
  apps/docs/docs/components/table/_default.component.ts
  apps/docs/docs/components/table/index.md
  apps/docs/docs/components/table/ng-doc.page.ts
  apps/docs/docs/ng-doc.api.ts
  apps/storybook/src/table.component.stories.ts
  libs/flowbite-angular/table/README.md
  libs/flowbite-angular/table/ng-package.json
  libs/flowbite-angular/table/src/config/table-body-config.ts
  libs/flowbite-angular/table/src/config/table-config.ts
  libs/flowbite-angular/table/src/config/table-foot-config.ts
  libs/flowbite-angular/table/src/config/table-head-config.ts
  libs/flowbite-angular/table/src/index.ts
  libs/flowbite-angular/table/src/table-body/table-body-state.ts
  libs/flowbite-angular/table/src/table-body/table-body.directive.ts
  libs/flowbite-angular/table/src/table-body/theme.ts
  libs/flowbite-angular/table/src/table-foot/table-foot-state.ts
  libs/flowbite-angular/table/src/table-foot/table-foot.directive.ts
  libs/flowbite-angular/table/src/table-foot/theme.ts
  libs/flowbite-angular/table/src/table-head/table-head-state.ts
  libs/flowbite-angular/table/src/table-head/table-head.directive.ts
  libs/flowbite-angular/table/src/table-head/theme.ts
  libs/flowbite-angular/table/src/table/table-state.ts
  libs/flowbite-angular/table/src/table/table.component.ts
  libs/flowbite-angular/table/src/table/theme.ts
  libs/tools/src/generators/component/files/component/__directoryName__/src/__fileName__/__fileName__-state.ts.template
  tsconfig.base.json
Due: nx affected:lint --fix --files, npx nx format:write --files
