Repository themesberg/flowbite-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, npx nx format:write --files, npx stylelint --fix

feat(alert): add entrypoint
  libs/flowbite-angular/alert/alert.component.ts
  libs/flowbite-angular/alert/alert.theme.service.ts
  libs/flowbite-angular/alert/alert.theme.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

feat(indicator): add entrypoint
  libs/flowbite-angular/indicator/indicators.component.ts
  libs/flowbite-angular/indicator/indicators.theme.service.ts
  libs/flowbite-angular/indicator/indicators.theme.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

feat(router-link): add entrypoint
  libs/flowbite-angular/router-link-active/flowbite-router-link-active.directive.ts
  libs/flowbite-angular/router-link/flowbite-router-link.directive.ts
  libs/flowbite-angular/utils/directives/index.ts
  libs/flowbite-angular/utils/directives/inputs/index.ts
  libs/flowbite-angular/utils/directives/inputs/router-link-active.input.ts
  libs/flowbite-angular/utils/directives/inputs/router-link.inputs.ts
  libs/flowbite-angular/utils/directives/outputs/index.ts
  libs/flowbite-angular/utils/directives/outputs/router-link-active.output.ts
  libs/flowbite-angular/utils/directives/outputs/router-link.output.ts
  libs/flowbite-angular/utils/index.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

feat(icon): add entrypoint
  libs/flowbite-angular/icon/icon.component.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

fix: circular import & component import
  libs/flowbite-angular/accordion/accordion-content.component.ts
  libs/flowbite-angular/accordion/accordion-title.component.ts
  libs/flowbite-angular/accordion/accordion.component.ts
  libs/flowbite-angular/alert/alert.component.ts
  libs/flowbite-angular/badge/badge.component.ts
  libs/flowbite-angular/breadcrumb/breadcrumb-item.component.ts
  libs/flowbite-angular/button/button.component.ts
  libs/flowbite-angular/common/index.ts
  libs/flowbite-angular/common/type-definitions/flowbite.boolean.ts
  libs/flowbite-angular/common/type-definitions/index.ts
  libs/flowbite-angular/core/README.md
  libs/flowbite-angular/core/flowbite.theme.init.ts
  libs/flowbite-angular/core/index.ts
  libs/flowbite-angular/core/ng-package.json
  libs/flowbite-angular/dark-theme-toggle/dark-theme-toggle.component.ts
  libs/flowbite-angular/dark-theme-toggle/index.ts
  libs/flowbite-angular/dropdown/dropdown.component.ts
  libs/flowbite-angular/indicator/indicators.component.ts
  libs/flowbite-angular/modal/modal-header.component.ts
  libs/flowbite-angular/modal/modal.component.ts
  libs/flowbite-angular/navbar/navbar-content.component.ts
  libs/flowbite-angular/navbar/navbar-toggle.component.ts
  libs/flowbite-angular/navbar/navbar.component.ts
  libs/flowbite-angular/scroll-top/scroll-top.component.ts
  libs/flowbite-angular/sidebar/sidebar-item-group.component.ts
  libs/flowbite-angular/sidebar/sidebar-menu.component.ts
  libs/flowbite-angular/sidebar/sidebar-page-content.component.ts
  libs/flowbite-angular/sidebar/sidebar-toggle.component.ts
  libs/flowbite-angular/sidebar/sidebar.component.ts
  libs/flowbite-angular/utils/boolean.util.ts
  libs/flowbite-angular/utils/index.ts
  tsconfig.base.json
Due: nx affected:lint --fix --files, npx nx format:write --files

docs: update autogenerated api documentation
  apps/docs/docs/ng-doc.api.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

feat(utils): add entrypoint
  libs/flowbite-angular/utils/boolean.util.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

feat(scroll-top): add entrypoint
  libs/flowbite-angular/sanitize-html/sanitize-html.pipe.spec.ts
  libs/flowbite-angular/scroll-top/scroll-top.component.ts
  libs/flowbite-angular/scroll-top/scroll-top.theme.service.ts
  libs/flowbite-angular/scroll-top/scroll-top.theme.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

feat(navbar): add entrypoint
  libs/flowbite-angular/navbar/navbar-brand.component.ts
  libs/flowbite-angular/navbar/navbar-brand.theme.service.ts
  libs/flowbite-angular/navbar/navbar-brand.theme.ts
  libs/flowbite-angular/navbar/navbar-content.component.ts
  libs/flowbite-angular/navbar/navbar-content.theme.service.ts
  libs/flowbite-angular/navbar/navbar-content.theme.ts
  libs/flowbite-angular/navbar/navbar-icon-button.component.ts
  libs/flowbite-angular/navbar/navbar-icon-button.theme.service.ts
  libs/flowbite-angular/navbar/navbar-icon-button.theme.ts
  libs/flowbite-angular/navbar/navbar-item.component.ts
  libs/flowbite-angular/navbar/navbar-item.theme.service.ts
  libs/flowbite-angular/navbar/navbar-item.theme.ts
  libs/flowbite-angular/navbar/navbar-toggle.component.ts
  libs/flowbite-angular/navbar/navbar-toggle.theme.service.ts
  libs/flowbite-angular/navbar/navbar-toggle.theme.ts
  libs/flowbite-angular/navbar/navbar.component.ts
  libs/flowbite-angular/navbar/navbar.theme.service.ts
  libs/flowbite-angular/navbar/navbar.theme.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

feat(sidebar): add entrypoint
  libs/flowbite-angular/sidebar/sidebar-item-group.component.ts
  libs/flowbite-angular/sidebar/sidebar-item-group.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar-item-group.theme.ts
  libs/flowbite-angular/sidebar/sidebar-item.component.ts
  libs/flowbite-angular/sidebar/sidebar-item.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar-item.theme.ts
  libs/flowbite-angular/sidebar/sidebar-menu.component.ts
  libs/flowbite-angular/sidebar/sidebar-menu.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar-menu.theme.ts
  libs/flowbite-angular/sidebar/sidebar-page-content.component.ts
  libs/flowbite-angular/sidebar/sidebar-page-content.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar-page-content.theme.ts
  libs/flowbite-angular/sidebar/sidebar-toggle.component.ts
  libs/flowbite-angular/sidebar/sidebar-toggle.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar-toggle.theme.ts
  libs/flowbite-angular/sidebar/sidebar.component.ts
  libs/flowbite-angular/sidebar/sidebar.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar.theme.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

feat(modal): add entrypoint
  libs/flowbite-angular/modal/modal-body.component.ts
  libs/flowbite-angular/modal/modal-body.theme.service.ts
  libs/flowbite-angular/modal/modal-body.theme.ts
  libs/flowbite-angular/modal/modal-footer.component.ts
  libs/flowbite-angular/modal/modal-footer.theme.service.ts
  libs/flowbite-angular/modal/modal-footer.theme.ts
  libs/flowbite-angular/modal/modal-header.component.ts
  libs/flowbite-angular/modal/modal-header.theme.service.ts
  libs/flowbite-angular/modal/modal-header.theme.ts
  libs/flowbite-angular/modal/modal.component.ts
  libs/flowbite-angular/modal/modal.theme.service.ts
  libs/flowbite-angular/modal/modal.theme.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

chore: add tailwind config to export
  apps/docs/tailwind.config.js
  libs/flowbite-angular/tailwind.config.js
  package.json
Due: npx nx format:write --files

chore(flowbite-angular): 1.0.0-alpha.3 [skip cli]
  libs/flowbite-angular/CHANGELOG.md
  libs/flowbite-angular/package.json
Due: npx nx format:write --files

chore(flowbite-angular): 1.0.0-alpha.4 [skip cli]
  libs/flowbite-angular/CHANGELOG.md
  libs/flowbite-angular/package.json
Due: npx nx format:write --files

chore: create symlink for license & readme
  LICENSE
  README.md
Due: npx nx format:write --files

chore: remove docs directory
  docs/README.md
  docs/files/contributors.md
  docs/files/technical-information/README.md
  docs/files/technical-information/workflow-process/README.md
  docs/files/technical-information/workflow-process/base/doc/build & test.md
  docs/files/technical-information/workflow-process/base/doc/build & test.png
  docs/files/technical-information/workflow-process/base/lib/build & test.md
  docs/files/technical-information/workflow-process/base/lib/build & test.png
Due: npx nx format:write --files

docs: update landing page
  apps/docs/src/app/app.component.html
  apps/docs/src/app/app.component.ts
  apps/docs/src/app/pages/landing/landing.component.css
  apps/docs/src/app/pages/landing/landing.component.html
  apps/docs/src/app/pages/landing/landing.component.ts
  apps/docs/src/assets/styles/base.scss
Due: nx affected:lint --fix --files, npx nx format:write --files, npx stylelint --fix

fix: assets while building library
  libs/flowbite-angular/LICENSE
  libs/flowbite-angular/ng-package.json
  package.json
Due: npx nx format:write --files

chore: move readme
  libs/flowbite-angular/README.md
Due: npx nx format:write --files

refactor: move changelog as simlink
  CHANGELOG.md
Due: npx nx format:write --files

feat: add viewEncapsulation and changeDetection
  libs/flowbite-angular/accordion/accordion-content.component.ts
  libs/flowbite-angular/accordion/accordion-panel.component.ts
  libs/flowbite-angular/accordion/accordion-title.component.ts
  libs/flowbite-angular/accordion/accordion.component.ts
  libs/flowbite-angular/alert/alert.component.ts
  libs/flowbite-angular/badge/badge.component.ts
  libs/flowbite-angular/breadcrumb/breadcrumb-item.component.ts
  libs/flowbite-angular/breadcrumb/breadcrumb.component.ts
  libs/flowbite-angular/button/button.component.ts
  libs/flowbite-angular/dark-theme-toggle/dark-theme-toggle.component.ts
  libs/flowbite-angular/dropdown/dropdown-divider.component.ts
  libs/flowbite-angular/dropdown/dropdown-header.component.ts
  libs/flowbite-angular/dropdown/dropdown-item.component.ts
  libs/flowbite-angular/dropdown/dropdown.component.ts
  libs/flowbite-angular/icon/icon.component.ts
  libs/flowbite-angular/indicator/indicators.component.ts
  libs/flowbite-angular/modal/modal-body.component.ts
  libs/flowbite-angular/modal/modal-footer.component.ts
  libs/flowbite-angular/modal/modal-header.component.ts
  libs/flowbite-angular/modal/modal.component.ts
  libs/flowbite-angular/navbar/navbar-brand.component.ts
  libs/flowbite-angular/navbar/navbar-content.component.ts
  libs/flowbite-angular/navbar/navbar-icon-button.component.ts
  libs/flowbite-angular/navbar/navbar-item.component.ts
  libs/flowbite-angular/navbar/navbar-toggle.component.ts
  libs/flowbite-angular/navbar/navbar.component.ts
  libs/flowbite-angular/scroll-top/scroll-top.component.ts
  libs/flowbite-angular/sidebar/sidebar-item-group.component.ts
  libs/flowbite-angular/sidebar/sidebar-item.component.ts
  libs/flowbite-angular/sidebar/sidebar-menu.component.ts
  libs/flowbite-angular/sidebar/sidebar-page-content.component.ts
  libs/flowbite-angular/sidebar/sidebar-toggle.component.ts
  libs/flowbite-angular/sidebar/sidebar.component.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs(badge): add JSDoc for badge* component
  libs/flowbite-angular/accordion/accordion-panel.component.ts
  libs/flowbite-angular/accordion/accordion.component.ts
  libs/flowbite-angular/alert/alert.component.ts
  libs/flowbite-angular/badge/badge.component.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

chore(themeService): add JSDoc and example for InjectionToken
  libs/flowbite-angular/accordion/accordion-content.theme.service.ts
  libs/flowbite-angular/accordion/accordion-panel.theme.service.ts
  libs/flowbite-angular/accordion/accordion-title.theme.service.ts
  libs/flowbite-angular/accordion/accordion.theme.service.ts
  libs/flowbite-angular/alert/alert.theme.service.ts
  libs/flowbite-angular/badge/badge.theme.service.ts
  libs/flowbite-angular/breadcrumb/breadcrumb-item.theme.service.ts
  libs/flowbite-angular/breadcrumb/breadcrumb.theme.service.ts
  libs/flowbite-angular/button/button.theme.service.ts
  libs/flowbite-angular/dark-theme-toggle/dark-theme-toggle.theme.service.ts
  libs/flowbite-angular/dropdown/dropdown-divider.theme.service.ts
  libs/flowbite-angular/dropdown/dropdown-header.theme.service.ts
  libs/flowbite-angular/dropdown/dropdown-item.theme.service.ts
  libs/flowbite-angular/dropdown/dropdown.theme.service.ts
  libs/flowbite-angular/indicator/indicators.theme.service.ts
  libs/flowbite-angular/modal/modal-body.theme.service.ts
  libs/flowbite-angular/modal/modal-footer.theme.service.ts
  libs/flowbite-angular/modal/modal-header.theme.service.ts
  libs/flowbite-angular/modal/modal.theme.service.ts
  libs/flowbite-angular/navbar/navbar-brand.theme.service.ts
  libs/flowbite-angular/navbar/navbar-content.theme.service.ts
  libs/flowbite-angular/navbar/navbar-icon-button.theme.service.ts
  libs/flowbite-angular/navbar/navbar-item.theme.service.ts
  libs/flowbite-angular/navbar/navbar-toggle.theme.service.ts
  libs/flowbite-angular/navbar/navbar.theme.service.ts
  libs/flowbite-angular/scroll-top/scroll-top.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar-item-group.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar-item.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar-menu.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar-page-content.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar-toggle.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar.theme.service.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs(accordion): add JSDoc for accordion* component
  libs/flowbite-angular/accordion/accordion-content.component.ts
  libs/flowbite-angular/accordion/accordion-panel.component.ts
  libs/flowbite-angular/accordion/accordion-title.component.ts
  libs/flowbite-angular/accordion/accordion.component.ts
  libs/flowbite-angular/common/base-component.directive.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs(alert): add JSDoc for alert* component
  libs/flowbite-angular/alert/alert.component.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs(theme): add JSDoc/TSDoc comments for the api documentation generation
  libs/flowbite-angular/accordion/accordion-content.theme.ts
  libs/flowbite-angular/accordion/accordion-panel.theme.ts
  libs/flowbite-angular/accordion/accordion-title.theme.ts
  libs/flowbite-angular/accordion/accordion.theme.ts
  libs/flowbite-angular/alert/alert.theme.ts
  libs/flowbite-angular/badge/badge.theme.ts
  libs/flowbite-angular/breadcrumb/breadcrumb-item.theme.ts
  libs/flowbite-angular/breadcrumb/breadcrumb.theme.ts
  libs/flowbite-angular/button/button.theme.ts
  libs/flowbite-angular/dark-theme-toggle/dark-theme-toggle.theme.ts
  libs/flowbite-angular/dropdown/dropdown-divider.theme.ts
  libs/flowbite-angular/dropdown/dropdown-header.theme.ts
  libs/flowbite-angular/dropdown/dropdown-item.theme.ts
  libs/flowbite-angular/dropdown/dropdown.theme.ts
  libs/flowbite-angular/indicator/indicators.theme.ts
  libs/flowbite-angular/modal/modal-body.theme.ts
  libs/flowbite-angular/modal/modal-footer.theme.ts
  libs/flowbite-angular/modal/modal-header.theme.ts
  libs/flowbite-angular/navbar/navbar-brand.theme.ts
  libs/flowbite-angular/navbar/navbar-content.theme.ts
  libs/flowbite-angular/navbar/navbar-icon-button.theme.ts
  libs/flowbite-angular/navbar/navbar-item.theme.ts
  libs/flowbite-angular/navbar/navbar-toggle.theme.ts
  libs/flowbite-angular/scroll-top/scroll-top.theme.ts
  libs/flowbite-angular/sidebar/sidebar-item-group.theme.ts
  libs/flowbite-angular/sidebar/sidebar-item.theme.ts
  libs/flowbite-angular/sidebar/sidebar-menu.theme.ts
  libs/flowbite-angular/sidebar/sidebar-page-content.theme.ts
  libs/flowbite-angular/sidebar/sidebar-toggle.theme.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs(dark-theme-toggle): add JSDoc for dark-theme-toggle* component
  libs/flowbite-angular/dark-theme-toggle/dark-theme-toggle.component.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs(button): add JSDoc for button* component
  libs/flowbite-angular/button/button.component.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs(sanitize-html-pipe): typo in comments
  libs/flowbite-angular/sanitize-html/sanitize-html.pipe.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs(breadcrumb): add JSDoc for breadcrumb* component
  libs/flowbite-angular/breadcrumb/breadcrumb-item.component.ts
  libs/flowbite-angular/breadcrumb/breadcrumb.component.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs(common): added JSDoc for API documentation autogeneration
  libs/flowbite-angular/common/base-component.directive.ts
  libs/flowbite-angular/common/flowbite.theme.service.ts
  libs/flowbite-angular/common/type-definitions/colors/flowbite.gradient-colors.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

chore(themeService): add @Injectable to each themeService
  libs/flowbite-angular/accordion/accordion-content.theme.service.ts
  libs/flowbite-angular/accordion/accordion-panel.theme.service.ts
  libs/flowbite-angular/accordion/accordion-title.theme.service.ts
  libs/flowbite-angular/accordion/accordion.theme.service.ts
  libs/flowbite-angular/accordion/accordion.theme.ts
  libs/flowbite-angular/alert/alert.theme.service.ts
  libs/flowbite-angular/badge/badge.theme.service.ts
  libs/flowbite-angular/breadcrumb/breadcrumb-item.theme.service.ts
  libs/flowbite-angular/breadcrumb/breadcrumb.theme.service.ts
  libs/flowbite-angular/button/button.theme.service.ts
  libs/flowbite-angular/common/flowbite.theme.service.ts
  libs/flowbite-angular/dark-theme-toggle/dark-theme-toggle.theme.service.ts
  libs/flowbite-angular/dropdown/dropdown-divider.theme.service.ts
  libs/flowbite-angular/dropdown/dropdown-header.theme.service.ts
  libs/flowbite-angular/dropdown/dropdown-item.theme.service.ts
  libs/flowbite-angular/dropdown/dropdown.theme.service.ts
  libs/flowbite-angular/indicator/indicators.theme.service.ts
  libs/flowbite-angular/modal/modal-body.theme.service.ts
  libs/flowbite-angular/modal/modal-footer.theme.service.ts
  libs/flowbite-angular/modal/modal-header.theme.service.ts
  libs/flowbite-angular/modal/modal.theme.service.ts
  libs/flowbite-angular/navbar/navbar-brand.theme.service.ts
  libs/flowbite-angular/navbar/navbar-content.theme.service.ts
  libs/flowbite-angular/navbar/navbar-icon-button.theme.service.ts
  libs/flowbite-angular/navbar/navbar-item.theme.service.ts
  libs/flowbite-angular/navbar/navbar-toggle.theme.service.ts
  libs/flowbite-angular/navbar/navbar.theme.service.ts
  libs/flowbite-angular/scroll-top/scroll-top.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar-item-group.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar-item.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar-menu.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar-page-content.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar-toggle.theme.service.ts
  libs/flowbite-angular/sidebar/sidebar.theme.service.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs(navbar): add JSDoc for navbar* component
  libs/flowbite-angular/navbar/navbar-brand.component.ts
  libs/flowbite-angular/navbar/navbar-content.component.ts
  libs/flowbite-angular/navbar/navbar-icon-button.component.ts
  libs/flowbite-angular/navbar/navbar-item.component.ts
  libs/flowbite-angular/navbar/navbar-toggle.component.ts
  libs/flowbite-angular/navbar/navbar.component.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs(router-link): add JSDoc for router-link* component
  libs/flowbite-angular/router-link-active/flowbite-router-link-active.directive.ts
  libs/flowbite-angular/router-link/flowbite-router-link.directive.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs(indicator): add JSDoc for indicator* component
  libs/flowbite-angular/indicator/indicators.component.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs(dropdown): add JSDoc for dropdown* component
  libs/flowbite-angular/dropdown/dropdown-divider.component.ts
  libs/flowbite-angular/dropdown/dropdown-header.component.ts
  libs/flowbite-angular/dropdown/dropdown-item.component.ts
  libs/flowbite-angular/dropdown/dropdown.component.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

docs(modal): add JSDoc for modal* component
  libs/flowbite-angular/modal/modal-body.component.ts
  libs/flowbite-angular/modal/modal-footer.component.ts
  libs/flowbite-angular/modal/modal-header.component.ts
  libs/flowbite-angular/modal/modal.component.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

fix: tailwind config file and import codeblock in quickstart
  apps/docs/docs/getting-started/quickstart/index.md
  libs/flowbite-angular/package.json
  libs/flowbite-angular/tailwind.config.js
Due: npx nx format:write --files

docs: revert model(inject()) changes
  libs/flowbite-angular/navbar/navbar-content.component.ts
  libs/flowbite-angular/navbar/navbar-item.component.ts
  libs/flowbite-angular/navbar/navbar-toggle.component.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: *.ts
  npx nx format:write --files: any of: *
  npx stylelint --fix: any of: *.css
